<div class="page-home">
  <div class="page-header">
    <h1>Home Page</h1>
  </div>
  <div class="row-section">
    <div class="col-md-2"></div>
    <div class="col-md-8 offset-md-1 row-block">
      <div class="media">
        <div class="media-left align-self-center">
          <img class="rounded-circle" alt="No image" src="https://randomuser.me/api/portraits/men/42.jpg">
        </div>
        <div class="media-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation
          </p>
        </div>
        <div class="media-right align-self-center">
          <button {{action "logout"}} class="btn btn-default">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
